{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}


{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h4 class="text-center mt-3">Inscription</h4><hr><hr>

	{{ form_start(registrationForm) }}
	<div class="row justify-content-md-center mt-2">
		<div class="col-md-6">
			<div class="form-group mb-2">
				{{ form_row(registrationForm.firstName) }}
			</div>
			<div class="form-group mb-2">
				{{ form_row(registrationForm.lastName) }}
			</div>
			<div class="form-group mb-2">
				{{ form_row(registrationForm.email) }}
			</div>
			<div class="form-group mb-2">
				{{ form_row(registrationForm.plainPassword, {
            		label: 'Password'}) }}
			</div>
			<div class="form-group mb-2">
				{{ form_row(registrationForm.confirmPassword, {
            		label: 'Confirm Password'}) }}
			</div>
			<div class="form-group mb-2">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>
			<button type="submit" class="mb-5 btn btn-secondary btn-block">
				submit
			</button>

			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
